{erl_opts, [debug_info]}.

{deps, [
         {ra, {git, "https://github.com/rabbitmq/ra.git", {branch, "master"}}}
       ]}.

{relx, [
    {release, {slurm_raft, "0.0.1"}, [
        slurm_raft,
        {ra, load}
    ]},

    {dev_mode, true},
    {include_erts, false},
    {overlay_vars, "config/vars.config"}
]}.

{profiles, [
    {prod, [
        {erl_opts, [no_debug_info, warnings_as_errors]},
        {relx, [{dev_mode, false}]}
    ]}]
}.

{shell, [
    {apps, [slurm_raft]}
]}.

{project_plugins, [rebar3_cuttlefish]}.
